if !state_obj.pdf
   .report_footer
      hr
      br
      p This app was built by #{" "}
         span.nqminds_text
            a(href="http://nqminds.com", target="blank") nquiringminds
      #logos
         img(src='/images/wahsn_logo.png').img_logo
         img(src='/images/cis_logo.png').img_logo
         img(src='/images/nqm_logo.png').img_nqm
         img(src='/images/soto_logo.png').img_logo
      p The data was sourced from Fingertips profile tools. Crown copyright &#169 2016. Fingertips was designed and developed by the Fingertips team at Public Health England. Available at #{" "}
         span
            a(href="http://fingertips.phe.org.uk", target="blank") http://fingertips.phe.org.uk

if state_obj.pdf
   .report_footer
      hr
      br
      #logos
         img(src='/images/wahsn_logo.png').img_logo_small
         img(src='/images/cis_logo.png').img_logo_small
         img(src='/images/nqm_logo.png').img_logo_small
         img(src='/images/soto_logo.png').img_logo_small
      p.small_text The data was sourced from Fingertips profile tools. Crown copyright &#169 2016. Fingertips was designed and developed by the Fingertips team at Public Health England. Available at fingertips.phe.org.uk