extends layout
block content


    script(src="/javascripts/overviewwidget.js")
    script(src="/javascripts/scatterplotmatrix.js")

    script(src="/javascripts/init_overview.js")

    include button_row

    .flex-container.big_items
        .flex-item.big_item#wi0Item
        .flex-item.big_item#wi1Item

    include report_footer


