extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script(src="/javascripts/controller.js")

    script(src="/javascripts/indicatorheader.js")
    script(src="/javascripts/densitygraph.js")
    script(src="/javascripts/wessexmap.js")
    script(src="/javascripts/areafacts.js")
    script(src="/javascripts/bargraph.js")
    script(src="/javascripts/multilinegraph.js")


    script(src="/javascripts/init_indicator.js")


    script.
        getPage = function(){

            var inArr = ["areaTypeSelect", "indicatorTypeSelect","genderTypeSelect"];
            var outArr =[];

            for(var i in inArr){
                var e = document.getElementById(inArr[i]);
                outArr[i] = e.options[e.selectedIndex].value;
            }

            var path = window.location.protocol + "//" + window.location.host + "/IndicatorReport/" + outArr[0] + "/" + outArr[1] + "/" + outArr[2]

            console.log(path)

            window.location.href = path;
        }



    .flex-group
        .flex-header-container
            .flex-header-item#headerReportItem
                select.flex-select#reportTypeSelect
                    option(value='IndicatorReport') Indicator Report:
                    option(value='AreaReport') Area Report:
                    option(value='CompareAreas') Compare Areas:
            .flex-header-item#headerGenderItem
                select.flex-select.addFilterSelect#genderTypeSelect
                    option(value='Female') Females
                    option(value='Male') Males
                    option(value='Persons') Persons
            .flex-header-item#headerAreaTypeItem
                select.flex-select.addFilterSelect#areaTypeSelect
                    option(value='DU') Districts and Unitaries
                    option(value='CCG') CCGs
                    option(value='CU') Counties and Unitaries
            .flex-header-item#headerIndicatorItem
                select.flex-select#indicatorTypeSelect
                    option(value='Mortality from chronic liver disease') Mortality from chronic liver disease
                    option(value='Alcohol-specific mortality') Alcohol-specific mortality
                    option(value='Months of life lost due to alcohol') Months of life lost due to alcohol
                    option(value='Admission episodes for alcohol-related conditions') Admission episodes for alcohol-related conditions
            //.flex-header-item#headerHighlightItem
            //    select.flex-select.addFilterSelect#highlightAreaSelect
            //        option(value='North East Hampshire And Farnham') North East Hampshire And Farnham
            //        option(value='North East Hampshire And Farnham') Short
            .flex-header-item#goButtonItem
                .btn.btn-default.btn-lg.flex-btn#goButton(onclick='getPage()') Go



        .flex-container
            .flex-item.full_height#headerItem
            .flex-item.full_height#densitygraphItem
            .flex-item.full_height#wessexmapItem
            .flex-item.full_height#areafactsItem
            .flex-item.full_height#bargraphItem
            .flex-item.full_height#multilinegraphItem
