extends layout
block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};

    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/overviewwidget.js")
    script(src="/javascripts/scatterplotmatrix.js")

    script(src="/javascripts/init_overview.js")


    script.
        select = function () {
            console.log(state_obj)
            var path = window.location.protocol + "//" + window.location.host + "/select/"
                + encodeURIComponent(state_obj.reportType) + "/"
                + encodeURIComponent(state_obj.areaType) + "/"
                + encodeURIComponent(state_obj.indicatorArr[0]) + "/"
                + encodeURIComponent(state_obj.genderArr[0]) + "/"
                + encodeURIComponent(state_obj.current_area) + "/";
            console.log(path)
            window.location.href = path;
        }

    .flex-group
        .flex-header-container
            .flex-header-item#selectButtonItem
                .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
                    span.i.fa.fa-th-large.fa-fw
                    span #{" "} Change Report

        .flex-container.big_items
            .flex-item.big_item#wi0Item
            .flex-item.big_item#wi1Item



