extends layout
block content


    script(src="/javascripts/indicatorheader.js")
    script(src="/javascripts/densitygraph.js")
    script(src="/javascripts/wessexmap.js")
    script(src="/javascripts/areafacts.js")
    script(src="/javascripts/bargraph.js")
    script(src="/javascripts/multilinegraph.js")


    script(src="/javascripts/init_indicator.js")

    include button_row

    .report
        .flex-container.full_items
            .flex-item.full_item#headerItem
            .flex-item.full_item#densitygraphItem
            .flex-item.full_item#wessexmapItem
            .flex-item.full_item#areafactsItem
            .flex-item.full_item#bargraphItem
            .flex-item.full_item#multilinegraphItem

    include report_footer


