extends layout
block content

   link(rel='stylesheet', href='/stylesheets/style.css')

   script(src="/javascripts/filterer.js")

   script(src="/javascripts/select.js")

   script.
      var config_obj = !{JSON.stringify(config_obj)};
      var state_obj = !{JSON.stringify(state_obj)};



   #selectDiv
      .btn.btn-default.btn-lg#doneButton(onclick='getPage()') Done

   hr





   h1 Select
   #reportTypeSelector
      h3  Choose Report Type:


      form(role='form')#reportForm
         div
            img.img-responsive.img-radio(src='/images/area_pic.png')
            button.btn.btn-primary.btn-radio(type='button') One Area All Indicators
            input#area-item.hidden(type='checkbox', name="selectName", value="AreaReport")
         div
            img.img-responsive.img-radio(src='/images/ind_pic.png')
            button.btn.btn-primary.btn-radio(type='button') One Indicator All Areas
            input#indicator-item.hidden(type='checkbox', name="selectName", value="IndicatorReport")
         div
            img.img-responsive.img-radio(src='/images/over_pic.png')
            button.btn.btn-primary.btn-radio(type='button') Overview
            input#overview-item.hidden(type='checkbox', name="selectName", value="OverviewReport")

   hr

   h1 Options

   #genderSelector
      h3 Gender:
      select#genderSelect
         option(value='Male') Male
         option(value='Female') Female
         option(value='Persons') Persons

   #indicatorSelector
      h3 Indicator:
      select#indicatorSelect
         option(value='Mortality from chronic liver disease') Mortality from chronic liver disease
         option(value='Alcohol-specific mortality') Alcohol-specific mortality
         option(value='Months of life lost due to alcohol') Months of life lost due to alcohol
         option(value='Admission episodes for alcohol-related conditions') Admission episodes for alcohol-related conditions

   #areaTypeSelector
      h3 Boundary Type:
      select(onchange='areaTypeChange()')#areaTypeSelect
         option(value='CCG') CCGs
         option(value='CU') Counties and Unitaries
         option(value='DU') Districts and Unitaries

   #areaSelector
      h3#areaSelectorText Area:
      select#areaSelect



   hr

   .btn.btn-default.btn-lg#doneButton(onclick='getPage()') Done
