extends layout
block content

   //link(rel='stylesheet', href='/stylesheets/style.css')

   script(src="/javascripts/select.js")

   script.
      var config_obj = !{JSON.stringify(config_obj)};
      var state_obj = !{JSON.stringify(state_obj)};



   .container
      br
      br

      .btn.btn-primary.btn-lg.doneButton#switchDoneButton(onclick='getPage()') Done

      hr





      h1 Select
      #reportTypeSelector
         h3  Choose interactive report:

         form(role='form')#reportForm
            span.reportSelect
               img.img-responsive.img-radio(src='/images/area_pic.png')
               button.btn.btn-info.btn-radio(type='button') One Area
               input#area-item.hidden(type='checkbox', name="selectName", value="AreaReport")

            span.reportSelect
               img.img-responsive.img-radio(src='/images/ind_pic.png')
               button.btn.btn-info.btn-radio(type='button') One Indicator
               input#indicator-item.hidden(type='checkbox', name="selectName", value="IndicatorReport")

            span.reportSelect
               img.img-responsive.img-radio(src='/images/over_pic.png')
               button.btn.btn-info.btn-radio(type='button') Overview
               input#overview-item.hidden(type='checkbox', name="selectName", value="OverviewReport")

      hr

      h1 Options


      #indicatorSelector
         h3 Indicator:
         select(onchange='anyChange()')#indicatorSelect
            option(value='Mortality from chronic liver disease') Mortality from chronic liver disease
            option(value='Alcohol-specific mortality') Alcohol-specific mortality
            option(value='Months of life lost due to alcohol') Months of life lost due to alcohol
            option(value='Admission episodes for alcohol-related conditions') Admission episodes for alcohol-related conditions

      #areaSelector
         h3#areaSelectorText Areas:
         select(onchange='anyChange()')#areaSelect

      #areaTypeSelector
         h3 Boundary Types:
         select(onchange='areaTypeChange()')#areaTypeSelect
            option(value='CCG') CCGs
            option(value='CU') Counties and Unitaries
            option(value='DU') Districts and Unitaries

      #genderSelector
         h3 Gender:
         select(onchange='anyChange()')#genderSelect
            option(value='Male') Male
            option(value='Female') Female
            option(value='Persons') Persons



      hr

      .btn.btn-primary.btn-lg.doneButton(onclick='getPage()') Done

      br
      br
      br
      br
      br


   include cis_footer