extends layout
block content

   link(rel='stylesheet', href='/stylesheets/style.css')



   script.
      var config_obj = !{JSON.stringify(config_obj)};
      var state_obj = !{JSON.stringify(state_obj)};

   script(src="/javascripts/source.js")


   .container

      br
      br

      .btn.btn-default.btn-lg#doneButton(name="top", onclick='getPage()') Back

      h3
         a(href="http://fingertips.phe.org.uk/profile/local-alcohol-profiles", target="blank") Source


      p The original Public Health England source data can be found #{" "}
         span
            a(href="http://fingertips.phe.org.uk/profile/local-alcohol-profiles", target="blank") here
         span .

      p Below are the Public Health England descriptions of the data.

      ul(style='list-style-type:circle')
         li
            a(href="#Admission episodes for alcohol-related conditions") Admission episodes for alcohol-related conditions
         li
            a(href="#Alcohol-specific mortality") Alcohol-specific mortality
         li
            a(href="#Mortality from chronic liver disease") Mortality from chronic liver disease
         li
            a(href="#Months of life lost due to alcohol") Months of life lost due to alcohol

      hr

      //----------------



      h2
         a(name="Admission episodes for alcohol-related conditions") Admission episodes for alcohol-related conditions

      a(href="#top") Top of page
       span  |
       span
         a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p 9.01 - Admission episodes for alcohol-related conditions (Broad)

      h4 Definition
      p Admissions to hospital where the primary diagnosis or any of the secondary diagnoses are an alcohol-attributable code. Children aged less than 16 years were only included for alcohol-specific conditions and for low birth weight. For other conditions, alcohol-attributable fractions were not available for children. Directly age standardised rate per 100,000 population European standard population.&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Value type
      p Directly standardised rate

      h4 Unit
      p per 100,000

      h4 Indicator number
      p 9.01

      h4 Rationale
      p "Alcohol consumption is a contributing factor to hospital admissions and deaths from a diverse range of conditions. Alcohol misuse is estimated to cost the NHS about &pound;3.5 billion per year and society as a whole &pound;21 billion annually The Government has said that everyone has a role to play in reducing the harmful use of alcohol - this indicator is one of the key contributions by the Government (and the Department of Health) to promote measurable, evidence based prevention activities at a local level, and supports the national ambitions to reduce harm set out in the Government's Alcohol Strategy. This ambition is part of the monitoring arrangements for the Responsibility Deal Alcohol Network. Alcohol-related admissions can be reduced through local interventions to reduce alcohol misuse and harm. Reducing alcohol-related harm is one of Public Health England&rsquo;s seven priorities for the next five years (from the &ldquo;Evidence into action&rdquo; report 2014)."

      h4 Data source
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) using data from the Health and Social Care Information Centre - Hospital Episode Statistics (HES) and Office for National Statistics (ONS) - Mid Year Population Estimates.

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (North West)

      h4 Definition of numerator
      p Admissions to hospital where the primary diagnosis or any of the secondary diagnoses are an alcohol-attributable code. See the Local Alcohol Profiles for England (LAPE) user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Source of numerator
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) using data from the Health and Social Care Information Centre - Hospital Episode Statistics (HES)

      h4 Definition of denominator
      p ONS mid-year population estimates

      h4 Source of denominator
      p Office for National Statistics (ONS)

      h4 Methodology
      p Directly standardised rates per 100,000 population, standardised to the European Standard Population.

      h4 Standard population/values
      p 2013 European Standard Population

      h4 Frequency
      p Annual

      h4 Confidence interval details
      p NA

      h4 Disclosure control
      p NA

      h4 Rounding
      p All rates and counts rounded to 2 decimal places

      h4 Caveats
      p Data for England includes records with geography 'Unknown' and 'No fixed abode'. Children aged less than 16 years were only included for alcohol-specific conditions and for low birth weight. Conditions where low levels of alcohol consumption are protective (have a negative alcohol-attributable fraction) are not included in the calculation of the indicator. See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Notes
      p This indicator is based on admission episodes to hospital for alcohol related conditions. &nbsp;This counts the number of times that a person has been admitted to hospital in the year with an alcohol related condition, and not the person themselves

      h4 Copyright
      p Hospital Episode Statistics (HES) Copyright &copy; 2015, Re-used with the permission of The Health and Social Care Information Centre. All rights reserved. Office for National Statistics, &copy; Crown Copyright 2015. Mid-year Population Estimates: Single year of age and sex for local authorities in the United Kingdom; estimated resident population. Under the terms of the Open Government licence (OGL) and UK Government Licensing Framework (launched 30 September 2010 - to review go to:  http://www.nationalarchives.gov.uk/information-management/uk-gov-licensing-framework.htm ), anyone wishing to use or re-use ONS material, whether commercially or privately, may do so freely without a specific application for a licence, subject to the conditions of the OGL and the Framework. To view this licence, go to:  http://www.nationalarchives.gov.uk/doc/open-government-licence/  or write to The Information Policy Team, The National Archives, Kew, London TW9 4DU."


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr


      //----------------



      h2
        a(name="Alcohol-specific mortality") Alcohol-specific mortality

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p 2.01 - Alcohol-specific mortality

      h4 Definition
      p Deaths from alcohol-specific conditions, all ages, directly age-standardised rate per 100,000 population (standardised to the European standard population).&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Value type
      p Directly standardised rate

      h4 Unit
      p per 100,000

      h4 Indicator number
      p 2.01

      h4 Rationale
      p Alcohol consumption is a contributing factor to hospital admissions and deaths from a diverse range of conditions. Alcohol misuse is estimated to cost the NHS about &pound;3.5 billion per year and society as a whole &pound;21 billion annually. The Government has said that everyone has a role to play in reducing the harmful use of alcohol - this indicator is one of the key contributions by the Government (and the Department of Health) to promote measurable, evidence based prevention activities at a local level, and supports the national ambitions to reduce harm set out in the Government's Alcohol Strategy. This ambition is part of the monitoring arrangements for the Responsibility Deal Alcohol Network. Alcohol-related admissions can be reduced through local interventions to reduce alcohol misuse and harm. Reducing alcohol-related harm is one of Public Health England&rsquo;s seven priorities for the next five years (from the &ldquo;Evidence into action&rdquo; report 2014).

      h4 Data source
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) from the Office for National Statistics (ONS) Annual Death Extract Public Health Mortality File and ONS Mid Year Population Estimates

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (North West)

      h4 Definition of numerator
      p Deaths from alcohol-specific conditions (three years pooled)&nbsp;based on underlying cause of death registered in the calendar year for all ages. All causes of deaths from Ethanol poisoning, Methanol poisoning and Toxic effect of alcohol included.&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Source of numerator
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) using data from the Health and Social Care Information Centre - Hospital Episode Statistics (HES)

      h4 Definition of denominator
      p ONS mid-year population estimates by five year age bands. Three years&nbsp;are pooled.

      h4 Source of denominator
      p Office for National Statistics (ONS)

      h4 Methodology
      p Directly standardised rates per 100,000 population, standardised to the European Standard Population.

      h4 Standard population/values
      p 2013 European Standard Population

      h4 Frequency
      p Annual

      h4 Confidence interval details
      p NA

      h4 Disclosure control
      p NA

      h4 Rounding
      p All rates and counts rounded to 2 decimal places

      h4 Caveats
      p There is the potential for the underlying cause of death to be incorrectly attributed on the death certificate and the cause of death misclassified.

      h4 Notes
      p Comparability ratios were used in the calculation of trend data. See LAPE user guide (Section 2.5) for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Copyright
      p Office for National Statistics, &copy; Crown Copyright 2015. Annual death extracts. Mid-year Population Estimates: Single year of age and sex for local authorities in the United Kingdom; estimated resident population. Under the terms of the Open Government licence (OGL) and UK Government Licensing Framework (launched 30 September 2010 - to review go to:  http://www.nationalarchives.gov.uk/information-management/uk-gov-licensing-framework.htm ), anyone wishing to use or re-use ONS material, whether commercially or privately, may do so freely without a specific application for a licence, subject to the conditions of the OGL and the Framework. To view this licence, go to:  http://www.nationalarchives.gov.uk/doc/open-government-licence/  or write to The Information Policy Team, The National Archives, Kew, London TW9 4DU.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------

      h2
         a(name= "Mortality from chronic liver disease")  Mortality from chronic liver disease

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p 3.01 - Mortality from chronic liver disease

      h4 Definition
      p Deaths from chronic liver disease, all ages, directly age-standardised rate per 100,000 population (standardised to the European standard population).&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Value type
      p Directly standardised rate

      h4 Unit
      p per 100,000

      h4 Indicator number
      p 3.01

      h4 Rationale
      p Liver disease is one of the top causes of death in England and people are dying from it at younger ages. Most liver disease is preventable and much is influenced by alcohol consumption and obesity prevalence, which are both amenable to public health interventions.The inclusion of this indicator (alongside other indicators in the Public Health and NHS Outcomes Frameworks) reinforces the Government&rsquo;s commitment to reducing avoidable deaths through public health policy and interventions, sends out a clear signal that prevention of liver disease is just as important as treatment and will provide an impetus for local authorities to prioritise action on the drivers of liver disease. Alcohol consumption is a contributing factor to hospital admissions and deaths from a diverse range of conditions. Alcohol misuse is estimated to cost the NHS about &pound;3.5 billion per year and society as a whole &pound;21 billion annually. The Government has said that everyone has a role to play in reducing the harmful use of alcohol - this indicator is one of the key contributions by the Government (and the Department of Health) to promote measurable, evidence based prevention activities at a local level, and supports the national ambitions to reduce harm set out in the Government's Alcohol Strategy. This ambition is part of the monitoring arrangements for the Responsibility Deal Alcohol Network. Alcohol-related admissions can be reduced through local interventions to reduce alcohol misuse and harm. Reducing alcohol-related harm is one of Public Health England&rsquo;s seven priorities for the next five years (from the &ldquo;Evidence into action&rdquo; report 2014).

      h4 Data source
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) from the Office for National Statistics (ONS) Annual Death Extract Public Health Mortality File and ONS Mid Year Population Estimates

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (North West)

      h4 Definition of numerator
      p Deaths from chronic liver disease, including cirrhosis, classified by underlying cause of death (International Classification of Disease, version 10: K70, K73-K74), registered in the calendar year for all ages. Three years of data are pooled.&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Source of numerator
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) using data from the Health and Social Care Information Centre - Hospital Episode Statistics (HES)

      h4 Definition of denominator
      p ONS mid-year population estimates by five year age bands. Three years of data are pooled.

      h4 Source of denominator
      p Office for National Statistics (ONS)

      h4 Methodology
      p Directly standardised rates per 100,000 population, standardised to the European Standard Population.

      h4 Standard population/values
      p 2013 European Standard Population

      h4 Frequency
      p Annual

      h4 Confidence interval details
      p NA

      h4 Disclosure control
      p Isles of Scilly -&nbsp;Primary Suppression if &lt;=2 Exeter &amp; Devon - Secondary suppression&nbsp;of count to avoid disclosure by differencingONS cluster groups not included to avoid disclosure by differencing

      h4 Rounding
      p All rates and counts rounded to 2 decimal places

      h4 Caveats
      p There is the potential for the underlying cause of death to be incorrectly attributed on the death certificate and the cause of death misclassified.

      h4 Notes
      p Comparability ratios were used in the calculation of trend data. See LAPE user guide (Section 2.5) for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Copyright
      p Office for National Statistics, &copy; Crown Copyright 2015. Annual death extracts. Mid-year Population Estimates: Single year of age and sex for local authorities in the United Kingdom; estimated resident population. Under the terms of the Open Government licence (OGL) and UK Government Licensing Framework (launched 30 September 2010 - to review go to:  http://www.nationalarchives.gov.uk/information-management/uk-gov-licensing-framework.htm ), anyone wishing to use or re-use ONS material, whether commercially or privately, may do so freely without a specific application for a licence, subject to the conditions of the OGL and the Framework. To view this licence, go to:  http://www.nationalarchives.gov.uk/doc/open-government-licence/  or write to The Information Policy Team, The National Archives, Kew, London TW9 4DU.


      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      //----------------


      h2
        a(name="Months of life lost due to alcohol") Months of life lost due to alcohol

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      h4 Indicator
      p 1.01 - Months of life lost due to alcohol

      h4 Definition
      p An estimate of the increase in life expectancy at birth which would be expected if all alcohol-related deaths were prevented for those aged 75 years or less.&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Value type
      p Months life lost

      h4 Unit
      p NA

      h4 Indicator number
      p 1.01

      h4 Rationale
      p Alcohol consumption is a contributing factor to hospital admissions and deaths from a diverse range of conditions. Alcohol misuse is estimated to cost the NHS about &pound;3.5 billion per year and society as a whole &pound;21 billion annually. The Government has said that everyone has a role to play in reducing the harmful use of alcohol - this indicator is one of the key contributions by the Government (and the Department of Health) to promote measurable, evidence based prevention activities at a local level, and supports the national ambitions to reduce harm set out in the Government's Alcohol Strategy. This ambition is part of the monitoring arrangements for the Responsibility Deal Alcohol Network. Alcohol-related admissions can be reduced through local interventions to reduce alcohol misuse and harm. Reducing alcohol-related harm is one of Public Health England&rsquo;s seven priorities for the next five years (from the &ldquo;Evidence into action&rdquo; report 2014).

      h4 Data source
      p Calculated by Public Health England: Knowledge and Intelligence Team (North West) from the Office for National Statistics (ONS) Annual Death Extract Public Health Mortality File and ONS Mid Year Population Estimates

      h4 Indicator production
      p Public Health England Knowledge and Intelligence Team (North West)

      h4 Definition of numerator
      p Deaths from alcohol-related conditions (three years pooled) based on underlying cause of death registered in the calendar year for those aged less than 75 years. All causes of deaths from Ethanol poisoning, Methanol poisoning and Toxic effect of alcohol included.&nbsp; Children aged less than 16 years were only included for alcohol-specific conditions and for low birth weight.&nbsp;For other conditions, alcohol-attributable fractions were not available for children.

      h4 Source of numerator
      p Annual death extracts from the Office for National Statistics.

      h4 Definition of denominator
      p ONS mid-year population estimates for 0-74 year olds (age bands: &lt;1, 1-44, 45-54, 55-64 and 65-74 years). Estimates are aggregated from single year age bands. Three years&nbsp;are pooled.&nbsp;See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Source of denominator
      p Office for National Statistics (ONS)

      h4 Methodology
      p See LAPE user guide for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Standard population/values
      p NA

      h4 Frequency
      p Annual

      h4 Confidence interval details
      p Confidence intervals have not been generated for this indicator.

      h4 Disclosure control
      p NA

      h4 Rounding
      p All rates and counts rounded to 2 decimal places

      h4 Caveats
      p There is the potential for the underlying cause of death to be incorrectly attributed on the death certificate and the cause of death misclassified. Children aged less than 16 years were only included for alcohol-specific conditions and for low birth weight. For other conditions, alcohol-attributable fractions were not available for children. Conditions where low levels of alcohol consumption are protective (have a negative alcohol-attributable fraction) are not included in the calculation of the indicator.

      h4 Notes
      p Comparability ratios were used in the calculation of trend data. See LAPE user guide (Section 2.5)&nbsp;for further details -  http://www.lape.org.uk/downloads/Lape_guidance_and_methods.pdf

      h4 Copyright
      p Office for National Statistics, &copy; Crown Copyright 2015. Annual death extracts. Mid-year Population Estimates: Single year of age and sex for local authorities in the United Kingdom; estimated resident population. Under the terms of the Open Government licence (OGL) and UK Government Licensing Framework (launched 30 September 2010 - to review go to:  http://www.nationalarchives.gov.uk/information-management/uk-gov-licensing-framework.htm ), anyone wishing to use or re-use ONS material, whether commercially or privately, may do so freely without a specific application for a licence, subject to the conditions of the OGL and the Framework. To view this licence, go to:  http://www.nationalarchives.gov.uk/doc/open-government-licence/  or write to The Information Policy Team, The National Archives, Kew, London TW9 4DU.

      a(href="#top") Top of page
         span  |
         span
            a(style="cursor: pointer", onclick='getPage()') Return to report

      hr

      div
           .btn.btn-default.btn-lg#doneButton(onclick='getPage()') Back