
/*---------------------------------------------------------------------------------------------------*/

.flex-group {

    margin: auto;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;

    -webkit-align-items: stretch;
    align-items: stretch;


    align-content: flex-start;
    -webkit-align-content: flex-start;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

}

.flex-header-container {
    /*as item*/
    margin: auto;
    /*width: 1000px;*/


    /*as container*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-flex-direction: row;
    flex-direction: row;


    -webkit-align-items: flex-start;
    align-items: flex-start;


    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -ms-flex-pack: center;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

}


/*buttons at top of reports*/

.flex-header-item {
    margin: 14px;
}
.flex-header-item .flex-select {
    height: 1.5em;
    font-size: 1em;
    border: none;
    color: #2d2926;
}

.flex-btn {
    background-color: #f2f2f2;
    color: #666666;
    border-color: #666666;
    /*background-color: white;*/

}








/*add border to widgets*/

.widget {
    border:1px solid  #666666;
}



/*----set the container for the widget items*/
.flex-container {
    /*as item*/

    margin: auto;
    width: 95vw;


    /*as container*/
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-flex-direction: row;
    flex-direction: row;

}


/*---set the wraps, alignment, justification and limit indicator view to three widgets wide---------*/
.flex-container.full_items {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

}


.flex-container.big_items {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}

.flex-container.double_items {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-align-items: flex-start;
    align-items: flex-start;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


/*---wrap the area report once it gets to mobile size screen*/
@media (max-width: 400px) {
    .flex-container.double_items {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}



/*-------set margin for all items----------------*/
.full_item, .double_item, .big_item {
    margin: 10px 14px 10px 14px;
}



/*----set absolute sizes for IE---------*/
.full_item .widget {
    height: 400px;
    width: 300px;
}

.double_item .widget {
    height: 800px;
    width: 300px;
}

.big_item .widget {
    width: 928px;
    height: 928px;
}




@media (max-width: 700px) {
    .flex-item {

        flex: 1 0 300px;
        -webkit-flex: 1 0 300px;
        -ms-flex: 1 0 300px;

    }
}

