body {
  padding: 50px;
  font: 14px "Calibri"
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*color: white;*/
}

@media (max-width: 1000px) {
  body {
    padding: 20px;
  }
}


.contentContainer{
  padding: 35px 15px;
  /*background-color: red*/
}


.widget, .flex-header-container {

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background-color: #f2f2f2;
  /*background-color: #00778b;*/
  color: #666666;
  border-radius: 2px;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.52);


}

/*.full_height .widget{*/
  /*height: 400px;*/
/*}*/

/*.double_height .widget{*/
  /*height: 800px;*/
/*}*/

/*.big_item .widget{*/
  /*height: 800px;*/
  /*width: 928px;*/
/*}*/

/*.btn {*/
  /*color: #1f78b4;*/
  /*background-color: #a6cee3;*/
/*}*/

.axis text {
  fill: #666666;
  /*stroke: white;*/

}

.x-label {
  fill: #666666;
}


.clickable {

  cursor: crosshair;
  cursor: crosshair;

}

#selectDiv {
  /*margin: 14px;*/
}



.circle_button {

  /*-webkit-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.52);*/
  /*-moz-box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.52);*/
  /*box-shadow: inset 3px 3px 5px 0px rgba(0,0,0,0.52);*/


}


/*slider-----------------*/

.slider .axis {

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {

  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {

  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {

  text-align: center;
  font-size: 1.5em;
}



