body {
    padding: 50px;
    font: 14px "Calibri"

}

.pdf_hide{
    display: none;
}

@media (max-width: 1000px) {
    body {
        padding: 20px;
    }
}


.contentContainer{
    padding: 35px 15px;
    /*background-color: red*/
}

#headerDiv {
    margin: auto;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;

    -webkit-align-items: stretch;
    align-items: stretch;


    align-content: flex-start;
    -webkit-align-content: flex-start;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.widget {

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    background-color: #f2f2f2;
    /*background-color: #00778b;*/
    color: #666666;
    /*border-radius: 2px;*/
    -webkit-box-shadow: 2px 2px 5px 0px #bfbfbf;
    -moz-box-shadow: 2px 2px 5px 0px #bfbfbf;
    box-shadow: 2px 2px 5px 0px #bfbfbf;


}



.share-btn {
    width: 150px;
    margin-right: 14px;
    text-align: left;
    /*color: #1f78b4;*/
    /*background-color: #a6cee3;*/
 }



.clickable {

  cursor:pointer;

}

.report_footer{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.img_logo {
    height: 39px;
    margin: 14px;
}

.img_nqm {
    height: 45px;
    margin: 14px;
}


/*slider-----------------*/

.slider .axis {

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {

  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {

  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none;
  cursor:pointer;
}

.slider .handle text {

  text-align: center;
  font-size: 1.5em;
  cursor:pointer;
}



/*---select page ---*/

#reportForm {

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */


    -webkit-flex-direction: row;
    flex-direction: row;


    -webkit-align-items: flex-start;
    align-items: flex-start;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;



}

.reportSelect{
    margin-right: 34px;
}

.btn-radio {
    width: 200px;
    background-color: white;
    color: #333;
    border-color: #ccc;
}


.img-radio {
    opacity: 0.5;
    margin-bottom: 5px;
    margin-top: 33px;
    width: 200px;
    cursor: pointer;

    padding:2px;
    border:1px solid #ccc;
    background-color: white;
    border-radius: 4px;

}


/*--intro page---------*/
.number_text{

  font-size: 30px;

}

#intro_container {
    max-width: 800px;
    text-align: center;

    margin:0 auto;

}

#introMapItem .introWidget {
    width: 300px;
    height: 300px;
    margin:0 auto;
}

#introDensityItem .introWidget{
    width: 350px;
    height: 350px;
    margin:0 auto;
}

.explore_btn {
    font-size: 21px;
    color: #337ab7;
}

#wahsnLogo{
    height: 60px;
}



.flex-item {
    position: relative;
}

.helpText {
    position: absolute;
    top: 0;
}






